SEO Agent for Keyword Research & Article Creation/SEO Agent for Keyword Research & Article Creation.json
{
  "name": "SEO Agent for Keyword Research & Article Creation",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "093df6ca-b19a-484a-9478-b5e30edcca0d",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1008,
        336
      ]
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "text"
            }
          ]
        },
        "options": {
          "mergeLists": false
        }
      },
      "id": "cba55d11-6cd8-4562-a484-bec126210bf3",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -880,
        336
      ]
    },
    {
      "parameters": {
        "content": "## Keywords Research",
        "height": 80,
        "width": 309,
        "color": 5
      },
      "id": "70e39ad2-6b9a-4d60-959b-343c8177e3eb",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -832,
        -96
      ]
    },
    {
      "parameters": {
        "url": "=https://google.com/complete/search?output=toolbar&gl=US&q={{ $json.Keywords }}",
        "options": {}
      },
      "id": "bc842ab3-ae3a-45af-8699-8d8eb5457183",
      "name": "Autogenerate Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -928,
        32
      ],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "28f95be3-0142-47fa-b444-38e4584923da",
      "name": "Format Keywords",
      "type": "n8n-nodes-base.xml",
      "position": [
        -752,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "toplevel.CompleteSuggestion",
        "options": {}
      },
      "id": "78b34c8a-e2de-42e5-a77d-f554946df211",
      "name": "Split Out1",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        -608,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "456c204c-81bf-42e7-a259-1a9b19f15007",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1152,
        32
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fb95058f-0c20-4249-8a45-7b935fde1874",
              "name": "Keywords",
              "type": "array",
              "value": "={{ $json.suggestion.data }}"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "id": "fd5de9c9-5005-4e0e-a66f-9ad66289fdfc",
      "name": "Clean Keywords",
      "type": "n8n-nodes-base.set",
      "position": [
        -480,
        32
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Keywords"
            }
          ]
        },
        "options": {}
      },
      "id": "fe23ee55-72b8-4ad3-a943-73a6e57fadae",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -336,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk",
          "mode": "list",
          "cachedResultName": "SEO Agent for Keyword Research & Article Creation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Keywords Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $('Limit').item.json.row_number }}",
            "List of keywords": "={{ $json.Keywords }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "List of keywords",
              "displayName": "List of keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEO Article",
              "displayName": "SEO Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "ee2e23b8-086e-4ca3-aacd-552d31ee751e",
      "name": "Google Sheets2",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -192,
        32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b3ELfieQB81lpkbS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "['List of keywords']",
        "options": {}
      },
      "id": "afafdab0-363f-4434-94bd-a9ac09b9e789",
      "name": "Split Out2",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -400,
        336
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk",
          "mode": "list",
          "cachedResultName": "SEO Agent for Keyword Research & Article Creation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Keywords Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk/edit#gid=0"
        },
        "options": {}
      },
      "id": "74ac056a-bebc-4d55-a040-2bda44d5fa5b",
      "name": "Read SEO Keywords",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -560,
        336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b3ELfieQB81lpkbS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "['[\\'List of keywords\\']']"
            }
          ]
        },
        "options": {}
      },
      "id": "26d61087-a300-440e-adcb-edb99585fd9a",
      "name": "Aggregate2",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -240,
        336
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk",
          "mode": "list",
          "cachedResultName": "SEO Agent for Keyword Research & Article Creation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Keywords Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "SEO Article": "={{ $json.output }}",
            "Campaign Description": "=",
            "row_number": "={{ $('Fetch Article').item.json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Campaign Description",
              "displayName": "Campaign Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Target Audience",
              "displayName": "Target Audience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SEO Article",
              "displayName": "SEO Article",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b17b80a6-80a0-4dce-aec3-2422a64abafb",
      "name": "Update Article",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        240,
        336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b3ELfieQB81lpkbS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {},
      "id": "e8165b0c-eea7-46ab-b63d-e75bb0501ac3",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2096,
        336
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "70d971aa-94f5-420c-9906-3bf45e2467e3",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1520,
        32
      ]
    },
    {
      "parameters": {
        "content": "## Repurpose Article",
        "height": 80,
        "width": 309,
        "color": 4
      },
      "id": "c39f53f2-a53b-416c-8f8c-b9334eef4490",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -848,
        224
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk",
          "mode": "list",
          "cachedResultName": "SEO Agent for Keyword Research & Article Creation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Keywords Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk/edit#gid=0"
        },
        "options": {}
      },
      "id": "1df66d5e-8a5a-415f-83af-20930bc3e4e7",
      "name": "Fetch Keywords",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1296,
        32
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b3ELfieQB81lpkbS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk",
          "mode": "list",
          "cachedResultName": "SEO Agent for Keyword Research & Article Creation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Keywords Research",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1IDSduI10VU3wphNjflI7JXl4LdkyWDc1nXmy2ODH_hk/edit#gid=0"
        },
        "options": {}
      },
      "id": "9e24f1f1-73c8-4061-9ec9-38d69e07a1d5",
      "name": "Fetch Article",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1952,
        336
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b3ELfieQB81lpkbS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.exa.ai/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "46fde9cb-7bad-432a-8353-3e7c2dc513e5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.cleanOutput }}\",\n  \"type\": \"neural\",\n  \"useAutoprompt\": true,\n  \"contents\": {\n    \"text\": true\n  }\n}",
        "options": {}
      },
      "id": "65979500-0e8f-481e-bf67-c4064f42908d",
      "name": "Fetch Content (Exa)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1152,
        336
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write an SEO article about the keyword: {{ $json.Keywords }}. \nUse these related keywords: {{ $json['List of keywords'] }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1808,
        336
      ],
      "id": "10b3b835-65ad-4930-91dc-80c73f514bf5",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "nvidia/nemotron-nano-12b-v2-vl:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1808,
        512
      ],
      "id": "16376008-751a-4fad-80f7-0c37a2f69acc",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "SxR18OwTyjkt7a8O",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\n\nconst cleaned = raw\n  .replace(/\\n/g, ' ')       // remove newlines\n  .replace(/\\r/g, ' ')       // remove carriage returns\n  .replace(/\\*\\*/g, '')      // remove markdown bold\n  .replace(/\\*/g, '')        // remove markdown italic\n  .replace(/\"/g, \"'\")        // replace double quotes with single\n  .trim();\n\nreturn [{ json: { cleanOutput: cleaned } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        336
      ],
      "id": "e25ad7e4-1284-4492-a899-21d8d235e67f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write a comprehensive SEO article for the main keyword: {{ $json['[\\'List of keywords\\']'][0] }}\n\nUse these related keywords naturally throughout the article:\n{{ $json['[\\'List of keywords\\']'].join(', ') }}\n\nRequirements:\n- Write a full SEO-optimized article (800-1200 words)\n- Include an engaging title, introduction, body sections with headings, and conclusion\n- Naturally incorporate all the related keywords\n- Make it informative and valuable for readers",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -64,
        336
      ],
      "id": "becda686-b68e-42df-a7b3-3e5b7963c6a5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-r1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -48,
        512
      ],
      "id": "9dd7bded-bca7-47a4-ae6c-b7e20e07b127",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "SxR18OwTyjkt7a8O",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Read SEO Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Autogenerate Keywords": {
      "main": [
        [
          {
            "node": "Format Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Keywords": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Clean Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Autogenerate Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Keywords": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Aggregate2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read SEO Keywords": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate2": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Fetch Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Keywords": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Article": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Content (Exa)": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Fetch Content (Exa)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update Article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0eb6966c-52f7-41cc-90a4-15ca04a272d6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0811cd30dfada1470b183a63bfc5129f3944cb7963a437cf37763b41afddd8ec"
  },
  "id": "ycmHYG3l9dUJ6bqG",
  "tags": []
}