AI Document Summarizer/AI Document Summarizer.json
{
  "name": "AI Document Summarizer",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Document Summarizer",
        "formDescription": "Please provide the file to be summarized",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Document",
              "fieldType": "file"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        592,
        -176
      ],
      "id": "7d1d7002-ee13-4e52-a382-f94bca07d051",
      "name": "On form submission",
      "webhookId": "19d578df-7566-444f-be3f-9f9149667158"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Document",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        800,
        -176
      ],
      "id": "fde34d43-2cab-4b97-8217-d1523c2bf10e",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.1",
          "mode": "list",
          "cachedResultName": "GPT-5.1"
        },
        "responses": {
          "values": [
            {
              "content": "=Summarize this text: {{ $json.text }}\n\nUse wikipedia tool for searching additional information about the subject."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1008,
        -176
      ],
      "id": "621f6e40-2902-4c74-ab32-9d977bedce09",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "4bWEI4OMLv5nMTrR",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        1104,
        32
      ],
      "id": "df8d683b-1b5d-4f3e-8627-8e696799d006",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bE9hFvLre-IdN2yjOu1AryQpEVcXOyyWQyo2DmYFqUA",
          "mode": "list",
          "cachedResultName": "AI for summarizing documents",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bE9hFvLre-IdN2yjOu1AryQpEVcXOyyWQyo2DmYFqUA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bE9hFvLre-IdN2yjOu1AryQpEVcXOyyWQyo2DmYFqUA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('On form submission').item.json.Document[0].filename }}",
            "Summary": "={{ $json.output[0].content[0].text }}",
            "Date Added": "={{ $('On form submission').item.json.submittedAt.toDateTime().format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date Added",
              "displayName": "Date Added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1360,
        -176
      ],
      "id": "3cca0038-b947-4aa3-b31e-8db5b7d9616f",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "b3ELfieQB81lpkbS",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bd1593fc-efd0-413f-93f6-2a0ce3750e18",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0811cd30dfada1470b183a63bfc5129f3944cb7963a437cf37763b41afddd8ec"
  },
  "id": "BpZmTwGHHsMvl6MM",
  "tags": []
}