Gmail Inbox Classifier/Gmail Inbox Manager & Classifier.json
{
  "name": "Gmail Inbox Manager & Classifier",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1232,
        448
      ],
      "id": "d89a500a-715c-4ac3-b4d0-32deec30f9ac",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "Suf2NR4ps7hB7PM7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1088,
        624
      ],
      "id": "f219d9a4-cc3f-4344-8f5d-13d7593994a9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JRXrInvHskaqvbPm",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c144ecb1-6b4a-40f2-85ef-858be919ae07",
              "leftValue": "={{ $json.output.senderName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        448
      ],
      "id": "d967a9c9-e633-492e-bcb7-7ff1793b4f3d",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17c78a79-67a6-421a-b009-29dbd16844d5",
              "name": "intro",
              "value": "=Dear {{ $json.output.senderName }},",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        304
      ],
      "id": "fa7c3d3e-d405-4c88-b1fb-19d2be9d7467",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "455417c3-0694-47a0-99b4-7aaf76e7e6a4",
              "name": "intro",
              "value": "Hi, ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        576
      ],
      "id": "3b4aeea5-ca7c-4498-bc5c-d910eaa46dce",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "attributes": {
          "attributes": [
            {
              "name": "senderName",
              "description": "Extract the sender's name from this email. If no name , return an empty string.",
              "required": true
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are an advanced extraction tool. Only pull out the relevant details from the text. If you're unsure about the value of any requested attribute, leave it as an empty string."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -1008,
        448
      ],
      "id": "ccc784d7-cd70-4daa-9098-09b9c08fe4b6",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "intro",
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        64,
        416
      ],
      "id": "3c779d89-24f1-4043-a676-a4e46c5ff65c",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3e26d0b-6136-413a-b6d5-af2ea75aaaca",
              "name": "message_id",
              "value": "={{ $('Gmail Trigger').item.json.id }}",
              "type": "string"
            },
            {
              "id": "7b33486f-7455-4ea7-b4ca-fe9331bf54ea",
              "name": "intro",
              "value": "={{ $json.intro }}",
              "type": "string"
            },
            {
              "id": "540f6707-d57e-487b-811c-e1ed5b1fd6e5",
              "name": "threadId",
              "value": "={{ $('Gmail Trigger').item.json.threadId }}",
              "type": "string"
            },
            {
              "id": "500fb0d7-544e-4ce9-ba58-e87773e1ddc6",
              "name": "text",
              "value": "={{ $('Gmail Trigger').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        416
      ],
      "id": "d6454ac4-3164-4465-a17e-49d3541d6bb9",
      "name": "Clean Data"
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "Services requests",
              "description": "Questions about consulting services offered, rates, or availability."
            },
            {
              "category": "Consultation requests",
              "description": "Scheduling initial consultations or follow-up meetings."
            },
            {
              "category": "Payments",
              "description": "Questions about invoices, payments, or refunds"
            },
            {
              "category": "Others",
              "description": "Emails that don’t clearly fit into the other categories."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "Please classify the text provided by the user into one of the following categories: {categories}, and use the provided formatting instructions below. Don't explain, and only output the json."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        608,
        416
      ],
      "id": "19d672ef-ddac-44ac-a1af-3d10c5fe681f",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        528,
        688
      ],
      "id": "b5960b4c-d377-402d-a112-95a392b7a04f",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "JRXrInvHskaqvbPm",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_2133297032774526408"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        240
      ],
      "id": "af3b6c2d-ddaa-4d06-b2e1-5da9521e5c5f",
      "name": "Services Request",
      "webhookId": "a96a31d4-4aee-4401-92c7-1496491ea923",
      "credentials": {
        "gmailOAuth2": {
          "id": "Suf2NR4ps7hB7PM7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_218325868467475445"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        448
      ],
      "id": "085d2dda-e46c-41e8-9a33-edeba14af9d6",
      "name": "Consultation Requests",
      "webhookId": "f8de955e-79ca-4534-a146-fa288d53e9c3",
      "credentials": {
        "gmailOAuth2": {
          "id": "Suf2NR4ps7hB7PM7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_2625483725051495954",
          "Label_1363370364358833901"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        640
      ],
      "id": "888ebb48-189f-497b-90ba-8ba7008153d2",
      "name": "Payments",
      "webhookId": "dd72b9a7-7d14-472b-8d86-f7e1a9a0cd6e",
      "credentials": {
        "gmailOAuth2": {
          "id": "Suf2NR4ps7hB7PM7",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.message_id }}",
        "labelIds": [
          "Label_7009831285909248596"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1216,
        848
      ],
      "id": "a883cc68-fd13-422c-96fb-dfa6f30211ca",
      "name": "Others",
      "webhookId": "ba168146-c21b-46e1-b11d-85e17bbe8639",
      "credentials": {
        "gmailOAuth2": {
          "id": "Suf2NR4ps7hB7PM7",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Data": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Services Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consultation Requests",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Payments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Others",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Services Request": {
      "main": [
        []
      ]
    },
    "Consultation Requests": {
      "main": [
        []
      ]
    },
    "Payments": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "56d78266-6ec7-4bc1-bf37-d4bd67f516f2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0811cd30dfada1470b183a63bfc5129f3944cb7963a437cf37763b41afddd8ec"
  },
  "id": "8njDjtB0WEy13yPT",
  "tags": []
}